*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#141414;
    color:#fff;
}


header{
    background:linear-gradient(to bottom, #000, #141414);
    padding:25px;
    text-align:center;
}

header h1{
    color:#e50914;
    font-size:40px;
    margin-bottom:5px;
}

header p{
    color:#bbb;
}


nav{
    background:#000;
    border-bottom:1px solid #222;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav ul li{
    margin:0;
}

nav ul li a{
    display:block;
    padding:15px 25px;
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#e50914;
}


.container{
    padding:30px;
}

section h2{
    margin-bottom:20px;
    color:#e50914;
}


.grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:18px;
}


.card{
    background:#1c1c1c;
    border-radius:6px;
    overflow:hidden;
    transition:0.3s;
    cursor:pointer;
    position:relative;
}


.card:hover{
    transform:scale(1.08);
    z-index:5;
    box-shadow:0 0 15px rgba(229,9,20,0.6);
}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
}

.card h3{
    font-size:16px;
    margin:10px;
}

.card p{
    font-size:13px;
    color:#bbb;
    margin:0 10px 15px;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
    color:#777;
    margin-top:40px;
}


::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#e50914;
    border-radius:5px;
}