<<<<<<< HEAD
*{
    margin:0;
    padding:0;
=======
body{
font-family:'Montserrat',sans-serif;
background:#000;
color:#fff;
margin:0;
}

.header{
position:relative;
height:60vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
overflow:hidden;
}

/* VIDEO FONDO */

.bg-video{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:0;
filter:brightness(0.4);
}

/* CAPA OSCURA */

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to bottom, rgba(0,0,0,0.2), #000);
z-index:1;
}

/* TEXTO ENCIMA DEL VIDEO */

.header-content{
position:relative;
z-index:2;
}

.header h1{
font-family:'Bebas Neue',sans-serif;
font-size:3.5rem;
color:#e50914;
letter-spacing:2px;
}

.header p{
color:#ddd;
font-weight:600;
margin-top:10px;
}

.navbar{
background:#000;
padding:15px 0;
text-align:center;
}

.navbar ul{
list-style:none;
display:flex;
justify-content:center;
gap:40px;
padding:0;
}

.navbar a{
color:#ccc;
text-decoration:none;
font-weight:600;
}

.navbar a:hover,
.active{
color:#e50914;
}


.novela-container{
padding:50px 6%;
}

.novela-container h2{
font-family:'Bebas Neue',sans-serif;
color:#e50914;
margin-bottom:25px;
}

.novelas-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.novelas-card{
background:#111;
border-radius:6px;
overflow:hidden;
transition:.3s;
cursor:pointer;
}

.novelas-card img{
width:100%;
height:300px;
object-fit:cover;
}

.novelas-card h3{
margin:10px;
}

.novelas-card p{
margin:0 10px 15px;
color:#bbb;
font-size:.85rem;
}

.novelas-card:hover{
transform:scale(1.08);
box-shadow:0 10px 25px rgba(0,0,0,.9);
<<<<<<< HEAD
}
footer{
    background:#000;
    text-align:center;
    padding:20px;
    color:#777;
    margin-top:40px;
=======
>>>>>>> 0d6cc6d31cd8d9b33b7f8d73634fed5e4c197d0a
>>>>>>> de515d8b798aacffa5303716105707294a5942aa
}