*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    background:#141414;
    color:#fff;
}

/* HEADER */

header{
    position:relative;
    overflow:hidden;
}



header video{
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(55%);
}



header::after{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(to top, rgba(0,0,0,.95), rgba(0,0,0,.3));
}



header h1{
    position:center;
    font-family:'Bebas Neue', sans-serif;
    color: #e50914;
    z-index:2;

}
header p{
    font-family:'Bebas Neue', sans-serif;
    color: white;
    z-index:2;
}



header{
    height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

/* MENU */

nav{
      background:#000;
    border-bottom:1px solid #222;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
}

nav li{
    display:block;
    padding:15px 25px;
    color:#fff;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

nav a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    font-size:15px;
    transition:.3s;
}

nav a:hover{
    color:#ff0000;
}

/* CONTENEDOR */

.serie-container{
    width:95%;
    max-width:1300px;
    margin:auto;
    padding:30px;
}

/* TITULO */

#series h2{
    font-family:'Bebas Neue', sans-serif;
    margin-bottom:20px;
    color:#e50914;
    font-size:32px;
    letter-spacing:1px;
}

/* GRID */

.series-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:18px;
}

/* TARJETAS */

.series-card{
     background:#1c1c1c;
    border-radius:6px;
    overflow:hidden;
    transition:0.3s;
    cursor:pointer;
    position:relative;
}

.series-card img{
    width:100%;
    height:280px;
    object-fit:cover;
}


/* EFECTO ZOOM ROJO */

.series-card:hover{
    transform:scale(1.08);
    z-index:5;
    box-shadow:0 0 20px rgba(229,9,20,0.7);
}

.series-card:hover img{
    filter:brightness(55%);
}

/* TEXTO SOBRE IMAGEN */

.series-card h3{
    font-size:18px;
    margin:10px;
    font-weight:600;
}

.series-card p{
    font-size:13px;
    color:#bbb;
    margin:0 10px 15px;
}
footer{
    background:#000;
    text-align:center;
    padding:20px;
    color:#777;
    margin-top:40px;
}




/* SCROLL SUAVE */

html{
    scroll-behavior:smooth;
}

/* RESPONSIVE */

@media(max-width:700px){

    header h1{
        font-size:24px;
    }

    .series-card img{
        height:260px;
    }

    #series h2{
        font-size:22px;
    }
}